*{
  letter-spacing: 2px;
  font-size: 20px;
    font-family: Georgia-serif, Verdana, sans-serif;

}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.footer-bg{
    background-color: rgba(196, 192, 192, 0.4);
}
ul li a.active{
    background: #9521CF;
    background: linear-gradient(to right, #350e44 16%, #9e0f0c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.main-text-color{
  background: #9521CF;
  background: linear-gradient(to right, #9521CF 16%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.talia-title{
    font-weight: bold;
}
.talia-border{
  border: 2px solid #87417a;

}
.talia-input:hover{
  color: #9521CF;
}
.login{
  padding: 20px;
  width: 50%;
  height: auto;
  margin: 40px auto;
}
.form-field{
  width: 80%;
  margin: 10px auto; 
}
.error-message{
  background-color: #ffff66;
  padding: 20px;

  letter-spacing: 3px;

}

.talia-button{
    background-color: transparent;
    padding: 14px;
    border-radius: 10px;
    background: #9521CF;
    font-weight: bold;
    background: linear-gradient(to right, #9521CF 16%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.talia-button:hover{
  color: white;
  -webkit-background-clip: none;
  -webkit-text-fill-color: white;

  background: rgb(149,33,207);
  background: linear-gradient(198deg, rgba(149,33,207,1) 16%, rgba(207,21,18,1) 100%);

}

@media screen and (max-width:500px) {
  .login{
    width: 100%;

  }
}

@media screen and (max-width:800px) {
  .login{
    width: 90%;

  }
}